.modal {
  display: none;
  position: fixed;
  z-index: 999;
  left: 0; top: 0;
  width: 100%; height: 100%;
  background-color: rgba(0,0,0,0.5);
}
.modal-content {
  background-color: #fff;
  margin: 8% auto;
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  position: relative;
}
.fechar {
  position: absolute;
  right: 10px;
  top: 5px;
  font-size: 22px;
  cursor: pointer;
}
.btn-editar {
  background: none;
  border: none;
  color: #0288d1;
  cursor: pointer;
  font-size: 16px;
}
